environments {
    h1 {
        color: #0099CC;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .borderedHolder {
        display: block;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}